@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.8em;
    background-size: cover;
    width: 100%;
    height: auto;
}



a {
    color: white;
    text-decoration: none;
}

header {
    padding: 2em;
    text-align: center;
    color: white;
}
header img {
    border-radius: 50%;
    max-width: 100px;
}

h1 {
    text-transform: uppercase;
    margin:  1em 0;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
}



.sosmed ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.sosmed ul li {
    list-style: none;
    margin: 0px 15px;
}

.sosmed ul li .fa {
    font-size: 20px;
    transition: .6s;
}

.sosmed ul li a {
    position: relative;
    display: block;
}

    