@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.8em
}

a {
    color: white;
    text-decoration: none;
}

header {
    padding: 2em;
    text-align: center;
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: fixed;
    color: white;
}
header img {
    border-radius: 50%;
    max-width: 100px;
}

.sosmed ul {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
}

.sosmed ul li {
    list-style: none;
    margin: 0px 15px;
}

.sosmed ul li .fa {
    font-size: 10px;
    transition: .6s;
}

.sosmed ul li a {
    position: relative;
    display: block;
}
    