@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.8em
}

a {
    color: white;
    text-decoration: none;
}

header {
    padding: 2em;
    text-align: center;
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: fixed;
    color: white;
}
avatar {
    border-radius: 50%;
    max-width: 150px;
}